Django==4.2.13
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
dj-database-url==3.1.2
gunicorn==22.0.0
whitenoise==6.6.0
psycopg[binary]==3.1.19
Pillow==10.3.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.0
